<div id="articles">
    <h2>The Articles</h2>
    <ul>
    {{#each articles }}
    <li class="article-wrap" data-id="{{_id}}">
        <h1 class="article-title">{{title}}</h1>
        <p class="article-summary">{{summary}}</p>
        <h3 class="article-link"><a href="{{link}}" target="_blank">Link</a></h3>
        <h3 class="article-byline">{{byline}}, {{dateStamp}}</h3>
    </li>
    {{/each}}
</ul>
{{#if range}}
<button id="back-5" class="btn" data-id="{{range}}">Back</button>
{{/if}}
<button id="next-5" class="btn" data-id="{{range}}">Next 5</button>
</div>
<div id="notes"></div>